@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>A new program devised to make designing Sacrament programs easier! No more having to use Microsoft Word!.</p>
