@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Ward Bulletinists --- Lisa Conway and Daniel Green<br /> <br />
    BYU-Idaho<br /> <br />
    (555)-555-5555
</address>


