@page
@model IndexModel
@{
    ViewData["Title"] = "Sacrament Planner";
}

<div class="row">
    <div class="col-md-3">
      <img src="~/images/bread.jpeg" style="width:200px;margin-top:130px"/>
    </div>
    <div class="col-md-3" style="margin-top:60px;">
        <img src="~/images/sacramentPic.jpg" style="box-shadow: 10px 10px 8px #888888; margin-left:20px;"/>
       <label style="font-family:Tangerine,cursive; font-size:5em; width:100%; margin-left:63%;">Sacrament Planner</label>
    </div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
      
        <img src="~/images/cup.jpg" style="width:200px; margin-top:75px; "  />
    </div>
</div>
